<div class="card-container">

    <div>
        <a class="card" [routerLink]="['add-customer']">

            <span>Register customer</span>
        </a>
        <a class="card" [routerLink]="['accounts']">

            <span>All accounts</span>
        </a>

        <a class="card" [routerLink]="['deposit']">

            <span>Deposit</span>
        </a>
        <a class="card" [routerLink]="['withdraw']" >
            <span>Witdraw</span>
        </a>
        <a class="card"  [routerLink]="['payment']">
            <span>Payments</span>
        </a>
    </div>
</div>