<nav class="navbar" style="background-color: #5555; margin: 0px; height: 80px;">
    <div class="container-fluid" style="height:20%;">
        <div class="nav-bar-header"></div>

    </div>
</nav>
<div class="container-fluid" style="height:auto; padding-bottom: 2%; padding-top: 1%;">
    <div class="row">
        <div class="col-3">
            <app-bank-menu></app-bank-menu>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>

<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-4">
            <p>Version 1.0</p>
        </div>
        <div class="col-4">
            <p style="font-family: Arial, Helvetica, sans-serif; font-weight:bold;">ELegnat</p>
        </div>
        <div class="col-4">
            <p>© 2020</p>
        </div>

    </div>

</footer>